<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <header class="bg-primary">
        <a asp-controller="Home" asp-action="Index"><img src="~/Image/banner.png" class="header__img" /></a>

    </header>
    <space>

    </space>
    <main>
        <h1 class="text-center mtb-20">Tờ khai y tế/Vietnam Health Declaration</h1>
        @*<ul class="nav nav-tabs justify-content-md-center">
            <li class="m-5"><a href="#">Cho người nhập cảnh<br>Entry declaration</a></li>
            <li class="m-5"><a href="#">Khai báo toàn dân<br>For domestic guests</a></li>
            <li class="m-5"><a href="#">Khai di chuyển nội địa <br>For domestic move declaration</a></li>
        </ul>*@
        @RenderBody()
    </main>
    
    @RenderSection("scripts", false)
</body>
</html>


